header {
      
    background-image: url("girafe.jpg"); 
    border-style: solid;
    text-shadow: 1px 1px 2px black;
    
    
}
    
  nav ul{ 
        
        background-image:url("4k-green.jpg");
        border-style: solid;
        margin-right: 1280px;
        text-align: left; 
        vertical-align: center;
       

        
    }
    
    main.Accueil  { 
        background-image:url("texture-424726_960_720.jpg");
        display: block;
        text-align: center;
        color: burlywood;
        
    }
    
    
    div.flex { 
        text-align: left;
        margin-top: 30px;
        border-style: solid;
        background-image:url("4k-green.jpg"); 
    }

    body { 
        background-image: url("peau-veau-couleur-marron-fauve.jpg");
        height: 150px;  
    }


    
    