header {
      
    background-image: url("girafe.jpg"); 
    border-style: solid;
    text-shadow: 1px 1px 2px black;
    
    
}
    
  nav ul{ 
        
        background-image:url("4k-green.jpg");
        border-style: solid;
        margin-right: 1100px;
        text-align: center; 
        vertical-align: center;
    }

    main.Accueil  { 
        background-image:url("texture-424726_960_720.jpg");
        display: block;
        text-align: center;
        color: burlywood;
    }

    
    main.articles  { 
        text-align: center;
    }

    main.image  { 
        text-align: center;
        
        
    }
    
    
    div.flex { 
        text-align: left;
        margin-top: 30px;
        border-style: solid;
        background-image:url("4k-green.jpg"); 
    }

    body { 
        background-image: url("peau-veau-couleur-marron-fauve.jpg");
        height: 150px;  
    }

    div ul {
        text-align: center;
        margin-left: 1300px;
        border-style: solid;

    }

    ul.articles {
        text-align: center;
        margin-right: 40px;

    }

    
    